::ng-deep.p-dropdown .p-dropdown-clear-icon {
    right: 1.6rem !important;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
    color: white !important;
}

.invDate {
    width: 110px !important;
}

.card-wrapper-modal {
    border-radius: 15px;
    background: white;
    font-family: Manrope;
}

.custom-table {
    min-height: auto !important;
}

.sticky-header {
    background: white;
    top: -18px
}

.custom-table table tbody tr td{
    line-height: 2!important;
  }