::ng-deep {
    p-dropdown.ng-dirty.ng-invalid>.p-dropdown {
        border-color: #ced4da;
    }

    p-dropdown {
        width: 100%;
    }
}

.btn-dropdown {
    background: #f2f6ff;
    border: 0;
    outline: none;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}