<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="No"
      class="p-button-success"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Yes"
      class="p-button-danger"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>

<div class="main-container">
  <div class="container">
    <app-store-project
      [showInput2]="false"
      [showInput1]="false"
      [componentName]="componentName"
      [hide]="false"
    ></app-store-project>
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 mb-2 FormsHeading">
      <p class="mx-1 my-1">Employee GL Configuration</p>
    </div> -->
  </div>
  <div class="container">
    <div class="row">
      <form class="col-lg-12 col-md-12 col-sm-12" [formGroup]="form" novalidate>
        <div class="row text-center" style="font-size: small">
          <div class="col-lg-12 col-md-12 col-sm-10">
            <div class="card p-3">
              <div class="row align-items-stretch">
                <div class="col-lg-1"></div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                  <label class="float-md-left d-flex float-sm-left">Code</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="PayHeadsCode"
                    [(ngModel)]="PayHeads.PayHeadsCode"
                    [attr.disabled]="true"
                  />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                  <label class="float-md-left d-flex float-sm-left"
                    >Name
                    <span class="astrik">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Pay Heads Name"
                    formControlName="PayHeadsName"
                    [(ngModel)]="PayHeads.PayHeadsName"
                  />
                  <div
                    *ngIf="
                      form.controls['PayHeadsName'].invalid &&
                      form.controls['PayHeadsName'].touched
                    "
                    style="color: red"
                  >
                    Field Required
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                  <label class="float-md-left d-flex float-sm-left"
                    >Short Name
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Short Name"
                    formControlName="ShortName"
                    [(ngModel)]="PayHeads.ShortName"
                  />
                </div>
                <div class="col-lg-2">
                  <label class="float-md-left d-flex float-sm-left">
                    Nature
                  </label>
                  <div class="group-gap">
                    <div class="d-block">
                      <div class="">
                        <select
                          class="form-select"
                          formControlName="Nature"
                          [(ngModel)]="PayHeads.Nature"
                        >
                          <option>Salary</option>
                          <option>Arrear</option>
                          <option>Bonus</option>
                          <option>Over Time</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-6 col-sm-12">
                  <button
                    class="btn btn-outline-dark btnCheckBox"
                    (click)="Status()"
                  >
                    <div class="form-check form-check-inline">
                      <input
                        type="checkbox"
                        class="form-check-label mt-1"
                        formControlName="Status"
                        style="float: left"
                        [(ngModel)]="PayHeads.Status"
                      />
                      <label
                        class="float-md-left d-flex float-sm-left mb-2 labelChk"
                        >Active</label
                      >
                    </div>
                  </button>
                </div>
              </div>

              <div class="row align-items-stretch mt-3">
                <div class="col-sm-4"></div>
                <div
                  class="row justify-content-center"
                  style="align-items: flex-end"
                >
                  <button
                    type="button"
                    class="btn btn-outline-success mx-1 btnFix"
                    (click)="addorUpdate()"
                    [disabled]="isUpdate"
                  >
                    Save
                  </button>
                  <button
                    type="button"
                    id="btnsave"
                    class="btn btn-outline-success btnFix"
                    [disabled]="!isUpdate"
                    (click)="addorUpdate()"
                  >
                    Update
                  </button>
                  <button
                    type="button"
                    id="btnRefresh"
                    class="btn primary-button-color mx-1 btnFix"
                    (click)="refresh()"
                  >
                    Refresh
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <p-table
        [value]="PayHeadsresponse$"
        [paginator]="PayHeadsresponse$.length > 4 ? true : false"
        [alwaysShowPaginator]="false"
        [rows]="10"
        class="datatable-width"
        styleClass="p-datatable-sm"
        responsiveLayout="stack"
        [breakpoint]="'960px'"
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 150px" pSortableColumn="PayHeadsCode">
              Code <p-sortIcon field="PayHeadsCode"></p-sortIcon>
            </th>
            <th style="min-width: 100px" pSortableColumn="PayHeadsName">
              Name <p-sortIcon field="PayHeadsName"></p-sortIcon>
            </th>
            <th style="min-width: 100px" pSortableColumn="Nature">
              Nature <p-sortIcon field="Nature"></p-sortIcon>
            </th>
            <th style="min-width: 100px">Status</th>
            <th style="min-width: 100px">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-m>
          <tr>
            <td>{{ m.PayHeadsCode }}</td>
            <td>{{ m.PayHeadsName }}</td>
            <td>{{ m.Nature }}</td>
            <td>{{ m.Status | yesNo }}</td>
            <td>
              <button
                pButton
                icon="pi pi-pencil"
                class="p-button p-button-outlined p-button-rounded p-button-warning GridEditButton mx-1"
                (click)="getSelectedRow(m)"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button p-button-outlined p-button-rounded p-button-danger p-mr-2 mx-1 custom-button-success"
                (click)="delete(m.PayHeadsCode)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
