<ngx-loading-bar [includeSpinner]="false" [height]="'3px'"></ngx-loading-bar>

<app-confirm-dialog></app-confirm-dialog>

<!-- Budget Cycle Data -->
<div class="main-container" (scroll)="onMainContainerScroll($event)">
  <div [class]="isSticky ? 'sticky-header' : ''">
    <app-store-project
      [componentName]="componentName"
      [hide]="false"
    ></app-store-project>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-wrapper">
        <p-toolbar>
          <ng-template pTemplate="left">
            <button
              pButton
              pRipple
              label="Add New"
              icon="pi pi-plus-circle one"
              class="btn-add"
              (click)="openNew(null, 'add')"
              style="margin-right: 4px"
            ></button>
          </ng-template>
          <ng-template pTemplate="right">
            <button
              *ngIf="isFilterApplied"
              pButton
              pRipple
              label=""
              icon="pi pi-filter-slash"
              class="btn-add mx-1"
              (click)="clearFilter()"
            ></button>
            <button
              pButton
              pRipple
              label=""
              icon="pi pi-filter-fill"
              class="btn-add"
              (click)="openFilterDialog()"
            ></button>
          </ng-template>
        </p-toolbar>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="table-responsive card-wrapper custom-table table-width">
        <p-table
          class="datatable-width"
          styleClass="p-datatable-sm"
          responsiveLayout="stack"
          [breakpoint]="'960px'"
          *ngIf="!isLoadingData"
          [value]="isFilterApplied ? filteredBudgeCycletList : budgeCycletList"
          [paginator]="true"
          [alwaysShowPaginator]="false"
          [rows]="10"
          [rowHover]="true"
          [globalFilterFields]="[
            'FinancialYear',
            'CycleName',
            'DateFrom',
            'DateTo'
          ]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="BranchCode" class="text-nowrap">
                Branch Name
                <p-sortIcon field="BranchCode"></p-sortIcon>
              </th>
              <th pSortableColumn="ProjectCode" class="text-nowrap">
                Project Name
                <p-sortIcon field="ProjectCode"></p-sortIcon>
              </th>
              <th pSortableColumn="CycleName" class="text-nowrap">
                Budget Cycle Name
                <p-sortIcon field="CycleName"></p-sortIcon>
              </th>
              <th pSortableColumn="FinancialYear" class="text-nowrap">
                Financial Year
                <p-sortIcon field="FinancialYear"></p-sortIcon>
              </th>
              <th pSortableColumn="DateFrom" class="text-nowrap">
                Date From
                <p-sortIcon field="DateFrom"></p-sortIcon>
              </th>
              <th pSortableColumn="DateTo" class="text-nowrap">
                Date To
                <p-sortIcon field="DateTo"></p-sortIcon>
              </th>
              <th scope="col" class="text-center">Action</th>
            </tr>
            <tr>
              <td colspan="7">
                <hr />
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <span class="ml-2">
                  {{ item.BranchName }}
                </span>
              </td>
              <td>
                <span class="ml-2">
                  {{ item.ProjectName }}
                </span>
              </td>
              <td>
                <span class="ml-2">
                  {{ item.BudgetCycleTitle }}
                </span>
              </td>
              <td>
                <span class="ml-2">
                  {{ item.YearTitle }}
                </span>
              </td>
              <td>
                <span class="ml-2">
                  {{ item.DateFrom | date : "MMM-d-y" }}
                </span>
              </td>
              <td>
                <span class="ml-2">
                  {{ item.DateTo | date : "MMM-d-y" }}
                </span>
              </td>
              <td>
                <div class="dropdown text-center ml-2">
                  <button
                    class="three-dots"
                    type="button"
                    id="table-action-menu"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="table-action-menu">
                    <li>
                      <a
                        class="dropdown-item edit cursor-hover cursor-pointer"
                        (click)="openNew(item, 'edit')"
                        >Edit</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item delete cursor-hover cursor-pointer"
                        (click)="delete(item.BudgetCycleCode)"
                        >Delete</a
                      >
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="no-record-found" *ngIf="budgeCycletList.length == 0">
          <p class="no-data">No Data Found</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Budget Cycle Dialog -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-screen">
    <p-dialog
      [(visible)]="mainDialog"
      [header]="mainHeader"
      [modal]="true"
      styleClass="p-fluid"
      class="modal-dialog full-screen"
      [closable]="true"
    >
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label class="mb-1 ml-1" for="financial-year"
              >Branch
              <span class="astrik">*</span>
            </label>
            <ng-container>
              <p-dropdown
                id="Branch"
                [options]="Branches"
                [filter]="true"
                optionLabel="BranchName"
                optionValue="BranchCode"
                formControlName="BranchCode"
                filterBy="BranchName"
                [showClear]="false"
                placeholder="Select Branch"
                [panelStyle]="{ overflow: 'auto' }"
                appendTo="body"
                (onChange)="changeBranch($event)"
              >
                <ng-template let-option pTemplate="item">
                  <div class="option-item">
                    <div style="float: left; width: 70%">
                      {{ option.BranchName }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <div
                class="input-error"
                *ngIf="
                  form.controls['BranchCode'].invalid &&
                  form.controls['BranchCode'].touched
                "
              >
                Field Required
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label class="mb-1 ml-1" for="financial-year"
              >Project
              <span class="astrik">*</span>
            </label>
            <ng-container>
              <p-dropdown
                id="Project"
                [options]="projectResponse$"
                [filter]="true"
                optionLabel="ProjectName"
                optionValue="ProjectCode"
                formControlName="ProjectCode"
                filterBy="ProjectName"
                [showClear]="false"
                placeholder="Select Project"
                [panelStyle]="{ overflow: 'auto' }"
                appendTo="body"
              >
                <ng-template let-option pTemplate="item">
                  <div class="option-item">
                    <div style="float: left; width: 70%">
                      {{ option.ProjectName }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <div
                class="input-error"
                *ngIf="
                  form.controls['ProjectCode'].invalid &&
                  form.controls['ProjectCode'].touched
                "
              >
                Field Required
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <ng-container>
              <label class="mb-1 ml-1" for="cycle-name">
                Budget Cycle Name
                <span class="astrik">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                placeholder="Cycle Name"
                formControlName="BudgetCycleTitle"
                style="height: 35px"
              />
              <div
                class="input-error"
                *ngIf="
                  form.controls['BudgetCycleTitle'].invalid &&
                  form.controls['BudgetCycleTitle'].touched
                "
              >
                Field Required
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label class="mb-1 ml-1" for="financial-year"
              >Financial Year
              <span class="astrik">*</span>
            </label>
            <ng-container>
              <p-dropdown
                [options]="financialYearsResp$"
                [filter]="true"
                optionLabel="YearTitle"
                optionValue="FinancialYearCode"
                formControlName="FinacialYearCode"
                filterBy="YearTitle"
                [showClear]="false"
                placeholder="Select Year"
                [panelStyle]="{ overflow: 'auto' }"
                appendTo="body"
                (onChange)="changeFinancialYear($event)"
              >
                <ng-template let-option pTemplate="item">
                  <div class="option-item">
                    <div style="float: left; width: 70%">
                      {{ option.YearTitle }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <div
                class="input-error"
                *ngIf="
                  form.controls['FinacialYearCode'].invalid &&
                  form.controls['FinacialYearCode'].touched
                "
              >
                Field Required
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <ng-container>
              <label class="mb-1 ml-1" for="date-form">
                Date From
                <span class="astrik">*</span>
              </label>
              <input
                type="date"
                class="form-control"
                formControlName="DateFrom"
                style="height: 30px"
                [min]="minDate"
                [max]="maxDate"
              />
            </ng-container>
            <div
              class="input-error"
              *ngIf="
                form.controls['DateFrom'].invalid &&
                form.controls['DateFrom'].touched
              "
            >
              Field Required
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <ng-container>
              <label class="mb-1 ml-1" for="date-to">
                Date To
                <span class="astrik">*</span>
              </label>
              <input
                type="date"
                class="form-control"
                formControlName="DateTo"
                style="height: 30px"
                [min]="minDate"
                [max]="maxDate"
              />
              <div
                class="input-error"
                *ngIf="
                  form.controls['DateTo'].invalid &&
                  form.controls['DateTo'].touched
                "
              >
                Field Required
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <div class="mt-2">
          <button
            type="submit"
            id="btnsave"
            class="btn-save"
            [disabled]="isUpdate"
          >
            Save
          </button>
          <button
            type="submit"
            id="btnsave"
            class="btn-update"
            [disabled]="!isUpdate"
          >
            Update
          </button>
          <button
            type="button"
            id="btnRefresh"
            class="btn-refresh"
            (click)="refresh()"
          >
            <img src="../../../../assets/icons/btn-refresh.svg" alt="" />
          </button>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</form>

<form [formGroup]="filterForm" class="d-flex">
  <div class="filter-screen">
    <p-dialog
      [(visible)]="filterDialog"
      [header]="filterHeader"
      [modal]="true"
      styleClass="p-fluid"
      class="modal-dialog full-screen"
      [closable]="true"
    >
      <div class="row">
        <div class="col-lg-6 col-md-3 col-sm-12">
          <div class="form-group">
            <label class="ml-1 mb-1">Budget Cycle Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Budget Cycle Name"
              formControlName="BudgetCycleTitle"
              style="height: 30px"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-3 col-sm-12 flex-end">
          <div class="form-group">
            <label class="ml-1 mb-1">Financial Year</label>
            <p-dropdown
              [options]="financialYearsResp$"
              [filter]="true"
              optionLabel="YearTitle"
              optionValue="FinancialYearCode"
              formControlName="FinacialYearCode"
              filterBy="YearTitle"
              [showClear]="false"
              placeholder="Select Year"
              [panelStyle]="{ overflow: 'auto' }"
              appendTo="body"
              (onChange)="changeFinancialYear($event)"
            >
              <ng-template let-option pTemplate="item">
                <div class="option-item">
                  <div style="float: left; width: 70%">
                    {{ option.YearTitle }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <div class="mt-2">
          <button
            type="button"
            id="btnsave"
            class="btn-save"
            (click)="applyFilter()"
          >
            Filter
          </button>
          <button
            type="button"
            id="btnsave"
            class="btn-save"
            (click)="clearFilter()"
          >
            Clear Filter
          </button>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</form>
