.chk{
    top: 3px;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th,
::ng-deep .p-datatable .p-datatable-tbody > tr > td,
::ng-deep .p-datatable .p-paginator {
  border: none !important;
}

hr {
  margin-top: 0;
}

.no-record-found {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-data{
  opacity: 0.75;
}