<ngx-loading-bar [includeSpinner]="false" [height]="'3px'"></ngx-loading-bar>

<app-confirm-dialog></app-confirm-dialog>

<div class="main-container" (scroll)="onMainContainerScroll($event)">
  <div [class]="isSticky ? 'sticky-header' : ''">
    <app-store-project
      [componentName]="componentName"
      [showInput2]="false"
      [showInput1]="false"
      [hide]="false"
    ></app-store-project>
  </div>

  <div class="">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card-wrapper">
          <form [formGroup]="form" novalidate>
            <div class="row align-items-stretch">
              <div class="col-lg-4" style="text-align: left">
                <div class="form-group">
                  <label>Balance Sheet Category</label>
                  <p-dropdown
                    [style]="{ height: '30px', width: '230px' }"
                    [options]="BalanceSheetCat$"
                    [filter]="true"
                    optionLabel="BalanceSheetName"
                    optionValue="BalanceSheetCode"
                    [(ngModel)]="BalanceSheetNoteResp$.BalanceSheetCode"
                    [ngModelOptions]="{ standalone: true }"
                    filterBy="BalanceSheetName,BalanceSheetCode"
                    [showClear]="false"
                    placeholder="Select Code Category"
                    [panelStyle]="{ overflow: 'auto' }"
                    [showClear]="true"
                    appendTo="body"
                    (onChange)="changeBalanceSheetCat($event)"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="option-item">
                        <div>
                          {{ option.BalanceSheetName }}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>

              <div class="col-lg-4" style="text-align: left">
                <div class="form-group">
                  <label>Balance Sheet SubCategory </label>
                  <p-dropdown
                    [disabled]="isUpdate"
                    [style]="{ height: '38px', width: '230px' }"
                    [options]="BalanceSheetSubCat$"
                    [filter]="true"
                    optionLabel="BalanceSheetSubCategoryName"
                    optionValue="BalanceSheetSubCode"
                    [(ngModel)]="BalanceSheetNoteResp$.BalanceSheetSubCode"
                    [ngModelOptions]="{ standalone: true }"
                    filterBy="BalanceSheetSubCategoryName,BalanceSheetSubCode"
                    [showClear]="false"
                    placeholder="Select Code SubCategory"
                    [panelStyle]="{ overflow: 'auto' }"
                    [showClear]="true"
                    (onChange)="changeBalanceSheetSubCat($event)"
                    appendTo="body"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="option-item">
                        <div>
                          {{ option.BalanceSheetSubCategoryName }}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-12 d-none">
                <div class="form-group">
                  <label>Code</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="BalanceSheetNoteCode"
                    [(ngModel)]="BalanceSheetNoteResp$.BalanceSheetNoteCode"
                    [value]="this.MaxBalanceSheetNoteId"
                    [attr.disabled]="true"
                  />
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                  <label
                    >Balance Sheet Note Name
                    <span class="astrik">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Name"
                    formControlName="Name"
                    [(ngModel)]="BalanceSheetNoteResp$.Name"
                  />
                  <div
                    *ngIf="
                      form.controls['Name'].invalid &&
                      form.controls['Name'].touched
                    "
                    class="input-error"
                  >
                    Field Required
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="buttons-wrapper d-flex align-items-center gap-2">
                <button
                  type="button"
                  id="btnsave"
                  Class="btn-save"
                  (click)="add()"
                  [disabled]="isUpdate"
                >
                  Save
                </button>
                <button
                  type="button"
                  id="btnsave"
                  Class="btn-update"
                  (click)="updateAllow()"
                  [disabled]="!isUpdate"
                >
                  Update
                </button>
                <button
                  type="button"
                  id="btnRefresh"
                  class="btn-refresh"
                  (click)="refresh()"
                >
                  <img src="../../../../assets/icons/btn-refresh.svg" alt="" />
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 mt-3">
        <div class="table-responsive card-wrapper custom-table">
          <!-- card-wrapper -->
          <table
            class="table table-striped table-borderless"
            *ngIf="!isLoadingData"
          >
            <thead>
              <tr>
                <!-- <th scope="col">Code</th>
                <th scope="col">Sub Code</th>
                <th scope="col">Note Code</th> -->
                <th scope="col">Note Name</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <hr />
            <tbody>
              <tr
                *ngFor="let item of BalanceSheetNote$; let odd = odd"
                [ngClass]="{ 'odd-row': odd }"
              >
                <!-- <td>{{item.BalanceSheetCode}}</td> -->
                <!-- <td>{{item.BalanceSheetSubCode}}</td> -->
                <!-- <td>{{item.BalanceSheetNoteCode}}</td> -->
                <td>{{ item.Name }}</td>
                <td>
                  <div class="dropdown text-center">
                    <button
                      class="three-dots"
                      type="button"
                      id="table-action-menu"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="table-action-menu"
                    >
                      <li>
                        <a
                          class="dropdown-item edit cursor-hover cursor-pointer"
                          (click)="getSelectedRow(item)"
                          >Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item delete cursor-hover cursor-pointer"
                          (click)="
                            delete(
                              item.BalanceSheetCode,
                              item.BalanceSheetSubCode,
                              item.BalanceSheetNoteCode
                            )
                          "
                          >Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="isLoadingData">
            <app-table-loader></app-table-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Grid-End -->
<!-- Response-Error-Message  -->
<div class="loading-newpopup" *ngIf="loadingerror">
  <div class="newpopup">
    <!---<a><img class="ErrorIcon" src="./assets/icon/error.svg" /></a>-->
    <div class="Errormessage">
      <p><strong>Error</strong></p>
      <p>You are not authorized to perform this Operation</p>
    </div>
    <button class="btn btn-danger ErrorClosebtn" (click)="hideErrorPopup()">
      Cancel
    </button>
  </div>
</div>
