<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="No"
      class="p-button-success"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Yes"
      class="p-button-danger"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>

<div class="main-container">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-2 FormsHeading">
      <p class="mx-1 my-1">User Projects</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <form class="col-lg-12 col-md-12 col-sm-12" [formGroup]="form" novalidate>
        <div class="row text-center" style="font-size: small">
          <div class="col-lg-12 col-md-12 col-sm-10">
            <div class="card p-3">
              <div class="row align-items-stretch">
                <div class="col-lg-2">
                  <label class="float-md-left d-flex float-sm-left mb-1 ml-1"
                    >Users
                    <span class="astrik">*</span>
                  </label>
                  <select class="form-select" (change)="changeUsers($event)">
                    <option class="text-Black" value="">Choose User</option>
                    <option
                      *ngFor="let b of user$"
                      [ngValue]="b"
                      [value]="b?.UserId"
                    >
                      {{ b.Username }}
                    </option>
                  </select>
                </div>

                <div class="col-lg-3">
                  <label class="float-md-left d-flex float-sm-left mb-1 ml-1"
                    >Branch
                    <span class="astrik">*</span>
                  </label>
                  <select class="form-select" (change)="changeBranch($event)">
                    <option value="">Choose Branch</option>
                    <option
                      *ngFor="let b of branch$"
                      [ngValue]="b"
                      [value]="b?.BranchCode"
                    >
                      {{ b.BranchName }}
                    </option>
                  </select>
                </div>

                <div class="col-lg-3">
                  <label class="float-md-left d-flex float-sm-left mb-1 ml-1"
                    ><b>Projects</b>
                    <span class="astrik">*</span>
                  </label>
                  <select
                    class="form-select"
                    (change)="changeUsersProjects($event)"
                  >
                    <option class="text-Black" value="">Choose Project</option>
                    <option
                      *ngFor="let b of project$"
                      [ngValue]="b"
                      [value]="b?.ProjectCode"
                    >
                      {{ b.ProjectName }}
                    </option>
                  </select>
                </div>
                <div
                  class="col-lg-4 row justify-content-center mt-4"
                  style="align-items: flex-end"
                >
                  <div class="row justify-content-start mt-12">
                    <button
                      type="button"
                      class="btn btn-outline-success mx-1 btnFix"
                      (click)="saveorUpdate()"
                    >
                      Save
                    </button>

                    <button
                      type="button"
                      class="btn primary-button-color mx-1 btnFix"
                      (click)="refresh()"
                    >
                      Refresh
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <p-table
          [value]="UserProjects$"
          [paginator]="UserProjects$.length > 5 ? true : false"
          [rows]="5"
          styleClass="p-datatable-sm"
          responsiveLayout="stack"
          [rowHover]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Branch</th>
              <th>Code</th>
              <th>Project</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-m>
            <tr>
              <th style="font-weight: normal">{{ m.BranchName }}</th>
              <th style="font-weight: normal">{{ m.ProjectCode }}</th>
              <th style="font-weight: normal">{{ m.ProjectName }}</th>
              <th>
                <button
                  pButton
                  icon="pi pi-trash"
                  class="p-button p-button-outlined p-button-rounded p-button-danger p-mr-2 mx-1 custom-button-success"
                  (click)="delete(m.UserId, m.ProjectCode)"
                ></button>
              </th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
