<ngx-loading-bar [includeSpinner]="false" [height]="'3px'"></ngx-loading-bar>
<app-confirm-dialog></app-confirm-dialog>

<div class="main-container" (scroll)="onMainContainerScroll($event)">
  <div [class]="isSticky ? 'sticky-header' : ''">
    <app-store-project
      [componentName]="'Document Type'"
      [showInput2]="false"
      [showInput1]="false"
      [hide]="false"
    ></app-store-project>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <form [formGroup]="DocumentTypeForm" novalidate>
        <div class="card-wrapper">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Document Type</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Document Type"
                  formControlName="DocumentType"
                />
                <small
                  *ngIf="
                    DocumentTypeForm.get('DocumentType')?.invalid &&
                    DocumentTypeForm.get('DocumentType')?.touched
                  "
                  class="text-danger text-xs"
                >
                  Document Type is Required
                </small>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="d-flex align-items-center gap-2 isactive">
                <div class="checkbox">
                  <input
                    type="checkbox"
                    id="active"
                    class="form-checkbox"
                    formControlName="IsActive"
                  />
                  <label class="form-check-label" for="active">Active</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="d-flex align-items-center gap-2">
              <button
                type="button"
                id="btnsave"
                class="btn-save"
                (click)="addorUpdateDocumentType()"
                [disabled]="isUpdate"
              >
                Save
              </button>
              <button
                type="button"
                id="btnupdate"
                class="btn-update"
                (click)="addorUpdateDocumentType()"
                [disabled]="!isUpdate"
              >
                Update
              </button>
              <button
                type="button"
                id="btnRefresh"
                class="btn-refresh"
                (click)="refresh()"
              >
                <img src="../../../../assets/icons/btn-refresh.svg" alt="" />
              </button>
            </div>
            <div class="col-lg-4"></div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
      <div class="table-responsive card-wrapper custom-table">
        <table
          class="table table-striped table-borderless"
          *ngIf="!isLoadingData"
        >
          <thead>
            <tr>
              <th scope="col">Document Type</th>
              <th scope="col">Active</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <hr />
          <tbody>
            <tr
              *ngFor="let item of DocumentTypeList; let odd = odd"
              [ngClass]="{ 'odd-row': odd }"
            >
              <td>{{ item.DocumentType }}</td>
              <td>
                <span
                  [class]="
                    item.IsActive == true ? 'success-badge' : 'danger-badge'
                  "
                  >{{ item.IsActive | yesNo }}</span
                >
              </td>
              <td>
                <div class="dropdown text-center">
                  <button
                    class="three-dots"
                    type="button"
                    id="table-action-menu"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="table-action-menu">
                    <li>
                      <a
                        class="dropdown-item edit cursor-hover cursor-pointer"
                        (click)="getRowDocumentType(item)"
                        >Edit</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item delete cursor-hover cursor-pointer"
                        (click)="deleteDocumentType(item.DocumentTypeCode)"
                        >Delete</a
                      >
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="isLoadingData">
          <app-table-loader></app-table-loader>
        </div>
      </div>
    </div>
  </div>
</div>
