label {
  display: flex;
  align-items: center;
}

.one {
  flex: 1;
  text-align: end;
}

/////////////////////////////////////////////////////////////////////////
.inline-radio {
  display: inline-block;
  margin-right: 10px;
  accent-color: rgb(67, 67, 230);
  font-size: 13px;
}

.btn-update {
  background: transparent !important;
  border: 1px solid #32A0EF !important;
  color: #32A0EF !important;
  transition: 0.3s all !important;
}
.btn-save {
  background: #32A0EF !important;
  color: white !important;
  transition: 0.3s all !important;
  border: 0 !important;
}

.three-dots {
  background: #EBF5FD;
  border: 0;
  border-radius: 4px;
  padding: 6px 10px;
}

.p-button-success {
  background: #E1E1E1;
  border-color: #E1E1E1;
  color: #8C8C8C;
  font-size: 13px;
  padding: 6px;
}
.p-button-danger {
  background: #BF2929;
  border-color: #BF2929;
  color: white;
  font-size: 13px;
  padding: 6px;
}


:host ::ng-deep {

  .p-button {
    padding: 5px 6px;
  }
  .p-button .p-button-icon-left {
    margin-right: 0.3rem;
    font-size: 14px;
  }
  .btn-update.p-button:enabled:hover {
    background: #32A0EF !important;
    color: white !important;
  }

  .p-button-label {
    font-size: 12px;
  }







  .p-multiselect-items {
    background-color: whitesmoke;
  }

  .p-multiselect-filter {
    height: 30px;
  }

  .p-dropdown-filter {
    height: 30px;
  }
  .option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .option-column1 {
    width: 30%;
  }

  .option-column2 {
    width: 70%;
  }
}
:host ::ng-deep {
  .pi-chevron-right:before {
    content: "\e901";
    font-size: smaller;
}
.pi-chevron-down:before {
    content: "\e902";
    font-size: smaller;
}
  .p-treetable .p-treetable-tbody > tr > td {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 1px 0 0 0;
    padding: 0rem 1rem;
    font-size: smaller;
    font-family: system-ui;
  }
  .p-button.p-button-icon-only.p-button-rounded {
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    margin: 2px 0px;
  }
}
::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
  color: white !important;
}

::ng-deep{
  .p-dropdown-panel .p-dropdown-header .p-dropdown-filter{
    height:30px !important;
    font-size:12px !important;
    }
    .p-inputtext{
      height: 30px !important;
      font-size: 12px;
    }

  .p-multiselect-panel {
    height: 30px !important;
    width: 100% !important;
  }
  .p-multiselect {
    width: 100% !important;

  }
}
