<ngx-loading-bar [includeSpinner]="false" [height]="'3px'"></ngx-loading-bar>
<!-- <p-confirmDialog #cd>
  
  <ng-template pTemplate="header">
    <h3>Delete</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      label="Cancel"
      class="p-button-success"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      pButton
      label="Delete"
      class="p-button-danger"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog> -->
<app-confirm-dialog></app-confirm-dialog>
<div class="main-container" (scroll)="onMainContainerScroll($event)">
  <div [class]="isSticky ? 'sticky-header' : ''">
    <app-store-project
      [componentName]="componentName"
      [showInput2]="false"
      [showInput1]="false"
      [hide]="false"
    ></app-store-project>
  </div>

  <div class="">
    <div class="row w-100">
      <div class="col-lg-12">
        <div class="card-wrapper">
          <form [formGroup]="form" novalidate>
            <div class="row align-items-center w-100">
              <!-- <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="form-group">
                  <label> Financial Year
                    <span class="astrik">*</span>
                  </label>
                  <select [disabled]="isUpdate" class="form-select" (change)="changeFinancialYear($event)"
                    formControlName="FinancialYearCode" [attr.disabled]="isUpdate ? true : null"
                    [(ngModel)]="FinancialMonth.FinancialYearCode">
                    <option *ngFor="let b of financial" [ngValue]="b" [value]="b?.FinancialYearCode">
                      {{ b.YearTitle }}
                    </option>
                  </select>
                </div>
              </div> -->

              <div class="col-lg-2" style="text-align: left">
                <div class="form-group">
                  <label>Financial Year<span class="astrik">*</span> </label>
                  <p-dropdown
                    [options]="financial"
                    [filter]="true"
                    optionLabel="YearTitle"
                    optionValue="FinancialYearCode"
                    formControlName="FinancialYearCode"
                    filterBy="YearTitle"
                    [showClear]="false"
                    placeholder="Select Year"
                    [panelStyle]="{ overflow: 'auto' }"
                    [showClear]="true"
                    appendTo="body"
                    [(ngModel)]="FinancialMonth.FinancialYearCode"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="option-item">
                        <div style="float: left; width: 70%">
                          {{ option.YearTitle }}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                  <label>
                    Month
                    <span class="astrik">*</span>
                  </label>
                  <p-calendar
                    class="form-control inputSetting"
                    formControlName="MonthTitle"
                    [(ngModel)]="FinancialMonth.MonthTitle"
                    dateFormat="MM-yy"
                    (ngModelChange)="selectMonth($event)"
                    [disabled]="isUpdate"
                    [attr.min]="getMinMonth()"
                    [attr.max]="getMaxMonth()"
                  ></p-calendar>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="form-group">
                  <label> Date From </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Date From"
                    formControlName="StartDate"
                    name="StartDate"
                    [(ngModel)]="FinancialMonth.StartDate"
                    [attr.disabled]="true"
                  />
                  <div
                    *ngIf="
                      form.controls['StartDate'].invalid &&
                      form.controls['StartDate'].touched
                    "
                    style="color: red"
                  >
                    Field Required
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label> Date To </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Date To "
                    formControlName="EndDate"
                    name="EndDate"
                    [(ngModel)]="FinancialMonth.EndDate"
                    [attr.disabled]="true"
                  />
                  <div
                    *ngIf="
                      form.controls['EndDate'].invalid &&
                      form.controls['EndDate'].touched
                    "
                    style="color: red"
                  >
                    Field Required
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-lg-3 col-md-6">
                <div
                  class="checkbox-wrapper d-flex align-items-center justify-content-around w-100"
                >
                  <div class="checkbox" (click)="OpenCheck()">
                    <input
                      type="checkbox"
                      class="form-check-input chk"
                      formControlName="IsOpenForEntry"
                      name="IsOpenForEntry"
                    />
                    <label class="form-check-label">Open</label>
                    <div
                      *ngIf="
                        form.controls['IsOpenForEntry'].invalid &&
                        form.controls['IsOpenForEntry'].touched
                      "
                    >
                      Field Required
                    </div>
                  </div>
                  <div class="checkbox" (click)="isActive()">
                    <input
                      type="checkbox"
                      class="form-check-input chk"
                      formControlName="IsActive"
                      name="IsActive"
                    />
                    <label class="form-check-label">Active</label>
                    <div
                      *ngIf="
                        form.controls['IsActive'].invalid &&
                        form.controls['IsActive'].touched
                      "
                    >
                      Field Required
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div
                class="buttons-wrapper d-flex align-items-center gap-2 mt-md-2"
              >
                <button
                  type="button"
                  id="btnsave"
                  Class="btn-save"
                  (click)="add()"
                  [disabled]="form.invalid || isUpdate"
                >
                  Save
                </button>
                <button
                  type="button"
                  id="btnsave"
                  Class="btn-update"
                  (click)="updateAllow()"
                  [disabled]="!isUpdate"
                >
                  Update
                </button>
                <button
                  type="button"
                  id="btnRefresh"
                  class="btn-refresh"
                  (click)="refresh()"
                >
                  <img src="../../../../assets/icons/btn-refresh.svg" alt="" />
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 mt-3">
        <div class="table-responsive card-wrapper custom-table">
          <table
            class="table table-striped table-borderless"
            *ngIf="!isLoadingData"
          >
            <thead>
              <tr>
                <th scope="col">Month</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Open</th>
                <th scope="col">Active</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <hr />
            <tbody>
              <tr
                *ngFor="let item of AllfinancialMonths; let odd = odd"
                [ngClass]="{ 'odd-row': odd }"
              >
                <td>{{ item.MonthTitle | date : "MMMM" }}</td>
                <td>{{ item.StartDate | date : "MMM-d-y" }}</td>
                <td>{{ item.EndDate | date : "MMM-d-y" }}</td>
                <!-- <td>{{ item.IsOpenForEntry | yesNo }}</td> -->
                <td>
                  <span
                    [class]="
                      item.IsOpenForEntry == true ? 'success-badge' : 'danger-badge'
                    "
                    >{{ item.IsOpenForEntry | yesNo }}</span
                  >
                </td>
                <td>
                  <span
                    [class]="
                      item.IsActive == true ? 'success-badge' : 'danger-badge'
                    "
                    >{{ item.IsActive | yesNo }}</span
                  >
                </td>
                <td>
                  <div class="dropdown text-center">
                    <button
                      class="three-dots"
                      type="button"
                      id="table-action-menu"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="table-action-menu"
                    >
                      <li>
                        <a
                          class="dropdown-item edit cursor-hover cursor-pointer"
                          (click)="getSelectedRow(item)"
                          >Edit</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item delete cursor-hover cursor-pointer"
                          (click)="
                            deleteFinancialMonthDetails(item.FinancialMonthCode)
                          "
                          >Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="isLoadingData">
            <app-table-loader></app-table-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Response-Error-Message  -->
<div class="loading-newpopup" *ngIf="loadingerror">
  <div class="newpopup">
    <!---<a><img class="ErrorIcon" src="./assets/icon/error.svg" /></a>-->
    <div class="Errormessage">
      <p><strong>Error</strong></p>
      <p>You are not authorized to perform this Operation</p>
    </div>
    <button class="btn btn-danger ErrorClosebtn" (click)="hideErrorPopup()">
      Cancel
    </button>
  </div>
</div>
