.col-lg-4 {
  flex: 0 0 auto;
  width: 40.333333%;
}
.searchbutton {
  margin-left: 5px;
  width: 2rem !important;
}
.searchbtn {
  display: inline-flex;
}

.loading-newpopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.newpopup {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.createIcon {
  border: 1px solid black;
  border-radius: 5px;
}
.row {
  display: -webkit-flex !important;
}
