

.btnCheckBox{
    width: 6.5rem;
    /* background-color: white; */
    margin-top: 15px;
    border-radius: 12px;
    font-size: 12px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ced4da;
  
  }
  
  .btnCheckBox:hover{
    background-color: white;
    color: black;
    border:  1px solid #ced4da !important;
  
  }
  .chk{
    border:  1px solid #ced4da !important;
  }
  .form-check{
    padding-left: 0.5rem !important;
  }
  .form-check-inline{
    align-items: center !important;
    margin-right: 0px !important;
  }
  .labelChk{
    margin-left: 18px;
    margin-top: 2px;
  }
  
  
  .loading-newpopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .newpopup {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  ::ng-deep .dynamic-header {
    white-space: nowrap; 
    min-width: 0; 
    text-overflow: ellipsis;
    overflow: hidden;
  }
  