<div class="main-container">
  <div class="container">
    <p><a class="btn btn-primary btn-sm" role="button" href="javascript:void(0);" onclick="javascript:introJs().setOption('showProgress', true).start();">Start Tour »</a></p>
    <!--CARDS-START #1-->
    <div class="row mt-3">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <div class="card order-card border-left-primary">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="card-content font-weight-bold text-primary text-uppercase mb-1">
                  Sales (Daily)</div>
                <div class="h6 mb-0 font-weight-bold text-gray-800 NumHeading">456</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-100 IconDesign"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <div class="card order-card border-left-success" data-step="1" data-intro="Hello, I'm Card-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="card-content font-weight-bold text-success text-uppercase mb-1">
                  Sales (Weekly)</div>
                <div class="h6 mb-0 font-weight-bold text-gray-800 NumHeading">444</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-comments fa-2x text-gray-100 IconDesign"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <div class="card order-card border-left-info">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="card-content font-weight-bold text-info text-uppercase mb-1">
                  Sales (Monthly)</div>
                <div class="h6 mb-0 font-weight-bold text-gray-800 NumHeading">65</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-100 IconDesign"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <div class="card order-card border-left-warning" data-step="2" data-intro="Hello, I'm Card-4">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="card-content font-weight-bold text-warning text-uppercase mb-1">
                  Sales (Yearly)</div>
                <div class="h6 mb-0 font-weight-bold text-gray-800 NumHeading">2222</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-100 IconDesign"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CARDS-END  -->

    <!-- Charts -->
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class=" card2" data-step="4" data-intro="Hello, Account's Chart">
          <p-chart type="bar" [data]="data" [options]="options"></p-chart>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card2" data-step="5" data-intro="Hello, I'm Graph">
          <p-chart type="line" [data]="data" [options]="options"></p-chart>
        </div>                                 
      </div>
    </div>
    </div>
