// this is navbar side code

.sidenav {
  background: #263238;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;

    .logo {
      background: #fff;
      text-align: center;
      width: 3rem;
      height: 44px !important;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      margin-left: 1.5rem;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
    }


    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #fff;
        font-size: 24px;
      }
    }
  }
}

.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: smaller;

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 2.5rem;
      color: #f3f3f3;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;

      .sidenav-link-icon {
        font-size: 19px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sidenav-link-text {
        margin-left: 0.5rem;
      }
    }

    .sidenav-nav-link:hover {
      background-color: #fff;
      color: #000;

      .menu-collapse-icon {
        color: #000;
      }
    }
  }
}

.active {
  background-color: #fff;

  .menu-collapse-icon,
  .sidenav-link-icon,
  .sidenav-link-text {
    color: #000;
  }
}

.active-sublevel {
  color: #898989 !important;
  // opacity: 1 !important;
}

.menu-collapse-icon {
  font-size: 25px;
  width: 2rem;
  min-width: 2rem;
  margin: auto 0.5rem auto auto;
  text-align: center;
  color: #f3f3f3;
}

.sublevel-nav {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;

  .sublevel-nav-item {
    .sublevel-nav-link {
      display: flex;
      align-items: center;
      height: 2rem;
      color: #f3f3f3;

      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;

      .sublevel-link-icon {
        font-size: 4px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sublevel-link-text {
        margin-left: 0.8rem;
      }
    }

    .sublevel-nav-link:hover {
      color: #898989;
    }
  }
}

//scrollbar and visibility on hover and focus

.scrollwrap {
  overflow-y: auto;
  visibility: hidden;
  height: calc(100% - 3.65rem);
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
  visibility: visible;
}

.scrollwrap_delayed {
  transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
  transition: visibility 0.2s 0.2s;
}

// works on chrome, edge and safari
.scrollwrap::-webkit-scrollbar {
  width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
  background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
  background-color: #556268;
  border-radius: 20px;
}

// works on firefox
.scrollwrap {
  scrollbar-width: thin;
  scrollbar-color: #556268 transparent;
}

// dashboard sidebar
.body {
  width: calc(100% - -10rem);
  height: 100vh;
  margin-left: -11rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: #f4f7fa;
}

.body-trimmed {
  width: calc(100%);
  margin-left: auto;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

//css of icons
.p-card-body {
  border: 3px solid red !important;
  padding: 0.5rem;
}

:host ::ng-deep .p-card .p-component {
  border: 1px solid #ffffff;
  width: 1045px;
  margin: 15px 380px;
  border-radius: 12px;
}

:host ::ng-deep .p-card .p-card-title {
  text-align: center;
  color: lightslategrey;
  /* border-bottom: 1px solid grey; */
  background: #eff3f8;
  border-radius: 5px;
  font-weight: 700;
}

:host ::ng-deep .p-card .p-card-body {
  padding: 0.5rem;
}

:host ::ng-deep .p-card .p-card-content .p-card-content div {
  display: flex;
  flex-direction: row;
}

.datarow {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  font-size: 1.5em;
  cursor: pointer;
  color: #2196f3;
  border: 1px solid black;
  border-radius: 10%;
  padding: 5px;
}

.headingcolor {
  text-decoration: none;
  color: grey;
}

.heading a {
  text-decoration: none;
}

.headingcolor:hover {
  color: #000;
}

.headingcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 25px;
}

.headingcenter img {
  margin: auto;
  width: 50px;
}

.headingcenter img:hover {
  margin: auto;

  /* background: darkslategrey; */
  border-radius: 50%;
  background: #eff3f8;
  padding: 7px;
  cursor: pointer;
}

// .headinghover
// {
//   border:3px solid green;

// }
.companylog {
  margin: 0px 18px;
}














// rough
.order-card {
  background: #FFFFFF;
  position: relative;
}


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: block;
}
.card:hover{
  // background-color:#563aff21 !important;
  transform: scale(1.1);
  cursor:pointer;
}


.boxIcon {
  background-color: #0000ff12;
  color: #563AFF;
}

.card .card-block {
  padding: 15px;
}

.order-card i {
  font-size: 22px;
}

.NumHeading {
  text-align: left;
  margin-bottom: 1px;
  font-size: 15px;
}

.f-left {
  float: left;
}

.f-right {
  float: left;
  margin-bottom: 4px;
}

.card-content {
  color: #999999;
  font-size: .7rem;
}



.text-start {
  font-size: 12px;
}

.IconDesign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dddfeb!important;
  float: right;
  margin-top: 12px;
}
.bg-primary{
  background-color: #563AFF !important;
}


//Card-2 designing
.NumHeading2 {
  color: white;
  font-weight: bold;
}
.IconDesign2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white !important;
  float: right;
  margin-top: 12px;

}


.card-content2 {
  color: white;
  font-size: 12px;
}

.coloredside{
  background: pink;
  height: 20px;
}





// New Chart css

.card2{
  background-color: white;
}




// Diff-cards-colors
.border-left-primary{
  border-left: .35rem solid #4e73df!important;
}
.border-left-success{
  border-left: .35rem solid #1cc88a!important;
}
.border-left-info{
  border-left: .35rem solid #36b9cc!important;
}
.border-left-warning{
  border-left: .35rem solid #f6c23e!important;
}
.border-left-danger{
  border-left: .35rem solid #ff7860!important;
}
.border-left-secondary{
  border-left: .35rem solid #8b8a8ade!important;
}
.border-left-brown{
  border-left:0.35rem solid #a58966 !important;
}
.border-left-purple{
  border-left:0.35rem solid #6f42c175 !important;
}

.text-primary{
  color: #4e73df!important;
}
.text-success{
  color:#1cc88a!important;
}
.text-info{
  color:#36b9cc!important;
}
.text-warning{
  color:#f6c23e!important;
}
.text-danger{
  color:#ff7860!important;
}
.text-secondary{
  color:#8b8a8ade!important;
}

.text-brown{
  color:#a58966!important;
}
.text-purple{
  color:#6f42c175!important;
}








// new-css




