.btn-save
{
margin-left: 350px;
margin-top: 20px;
}

.margin
{
  margin-top: 30px;
  margin-left: 250px;
  margin-bottom: 40px;
}
.save-btn{
  background: #32A0EF !important; 
  color: white !important;
}

