<ngx-loading-bar [includeSpinner]="false" [height]="'3px'"></ngx-loading-bar>

<div class="main-container" (scroll)="onMainContainerScroll($event)">
  <div [class]="isSticky ? 'sticky-header' : ''">
    <app-store-project
      [componentName]="componentName"
      [hide]="false"
    ></app-store-project>
  </div>
  <div class="card-wrapper">
    <p-toolbar>
      <h4 class="card-title">Budget Variance Tabular</h4>
      <ng-template pTemplate="right">
        <button
          pButton
          pRipple
          label="Print / Preview"
          icon="pi pi-print"
          class="btn-add"
          style="margin-right: 4px"
          (click)="printVoucherReport()"
        ></button>
      </ng-template>
    </p-toolbar>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="table-responsive card-wrapper custom-table table-width">
        <p-table
          class="datatable-width"
          [value]="budgetVarianceList"
          styleClass="p-datatable-sm"
          responsiveLayout="stack"
          [breakpoint]="'960px'"
          [paginator]="true"
          [alwaysShowPaginator]="false"
          [rows]="10"
          [rowHover]="true"
          [globalFilterFields]="[
            'BudgetName',
            'CreditAmount',
            'DebitAmount',
            'VarianceAmount'
          ]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="BudgetName" class="text-nowrap">
                Budget Name
                <p-sortIcon field="BudgetName"></p-sortIcon>
              </th>
              <th pSortableColumn="BudgetName" class="text-nowrap">
                Account Name
                <p-sortIcon field="BudgetName"></p-sortIcon>
              </th>
              <th pSortableColumn="CreditAmount" class="text-nowrap">
                Credit Amount
                <p-sortIcon field="CreditAmount"></p-sortIcon>
              </th>
              <th pSortableColumn="DebitAmount" class="text-nowrap">
                Debit Amount
                <p-sortIcon field="DebitAmount"></p-sortIcon>
              </th>
              <th pSortableColumn="VarianceAmount" class="text-nowrap">
                Variance Amount
                <p-sortIcon field="VarianceAmount"></p-sortIcon>
              </th>
              <th pSortableColumn="VarianceAmount" class="text-nowrap">
                Percentage
                <p-sortIcon field="VarianceAmount"></p-sortIcon>
              </th>
            </tr>
            <tr>
              <td colspan="6">
                <hr />
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <span class="ml-2">
                  {{ item.BudgetCycleTitle }}
                </span>
              </td>
              <td>
                <span class="ml-2">
                  {{ item.AccountName }}
                </span>
              </td>
              <td>
                <span class="ml-2">
                  {{ item.ExpenseAmount }}
                </span>
              </td>
              <td>
                <span class="ml-2">
                  {{ item.BudgetAmount }}
                </span>
              </td>
              <td>
                <span class="ml-2">
                  {{ item.VarianceAmount }}
                </span>
              </td>
              <td>
                <span class="ml-2">
                  {{ item.ExpenseUsage }}
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-wrapper">
        <div class="card-content">
          <div class="card-header mb-3">
            <h4 class="card-title">Budget Variance Line Chart</h4>
          </div>
          <div class="card-body">
            <p-chart
              type="line"
              [data]="chartData"
              [options]="lineChart"
              height="340px"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-wrapper">
        <div class="card-content">
          <div class="card-header mb-3">
            <h4 class="card-title">Budget Variance Bar Chart</h4>
          </div>
          <div class="card-body">
            <p-chart
              type="bar"
              [data]="chartData"
              [options]="barChart"
              height="270px"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-wrapper">
        <div class="card-content">
          <div class="card-header mb-3">
            <h4 class="card-title">Budget Variance Doughnut</h4>
          </div>
          <div class="card-body">
            <p-chart
              type="doughnut"
              [data]="chartData"
              [options]="doughnutChart"
              height="270px"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-wrapper">
        <div class="card-content">
          <div class="card-header mb-3">
            <h4 class="card-title">Budget Variance Polar Chart</h4>
          </div>
          <div class="card-body">
            <p-chart
              type="polarArea"
              [data]="chartData"
              [options]="polarChart"
              height="270px"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-wrapper">
        <div class="card-content">
          <div class="card-header mb-3">
            <h4 class="card-title">Budget Variance Radar</h4>
          </div>
          <div class="card-body">
            <p-chart
              type="radar"
              [data]="chartData"
              [options]="radarChart"
              height="270px"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loading-popup" *ngIf="loading">
  <div class="overlay"></div>
  <div class="popup">
    <div class="spinner"></div>
    <p class="text-center mt-2 mb-0">Report Generating</p>
  </div>
</div>
