<div class="main-container" (scroll)="onMainContainerScroll($event)">
  <div [class]="isSticky ? 'sticky-header': ''">
    <app-store-project [componentName]="componentName" [hide]="false"></app-store-project>
  </div>

  <div class="">
    <div class="row">
      <form class="col-lg-12 col-md-12 col-sm-12" [formGroup]="changePasswordform" novalidate>
        <div class="card-wrapper">
          <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-12">
              <div class="form-group">
                <label class="float-left">Old Password <span class="astrik">*</span> </label>
                <input
                type="password"
                class="form-control"
                placeholder="Enter Old Password "
                formControlName="oldpassword"
                [ngClass]="{error:getControl('oldpassword')?.errors && getControl('oldpassword')?.touched  }"
                name="oldpassword"
              />
              <div
              *ngIf="getControl('oldpassword')?.errors && getControl('oldpassword')?.touched ">
              <small class="text-danger" *ngIf="getControl('oldpassword')?.errors?.['required']">Old password required</small>
            </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-12">
              <div class="form-group">
                <label>New Password <span class="astrik">*</span> </label>
                <input
                    type="password"
                    class="form-control"
                    placeholder="Enter New Password "
                    formControlName="newpassword"
                    [ngClass]="{error:getControl('newpassword')?.errors && getControl('newpassword')?.touched}"
                    name="newpassword"
                  />
                  <div
                  *ngIf="getControl('newpassword')?.errors && getControl('newpassword')?.touched">
                  <small class="text-danger" *ngIf="getControl('newpassword')?.errors?.['required']">New password required</small>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-12">
              <div class="form-group">
                <label>Confirm New Password </label>
                <input
                type="password"
                class="form-control"
                placeholder="Enter Confirm Password "
                formControlName="confirmpassword"
                [ngClass]="{error:getControl('confirmpassword')?.errors && getControl('confirmpassword')?.touched  }"
                name="confirmpassword"
              />
              <div
              *ngIf="getControl('confirmpassword')?.errors && getControl('confirmpassword')?.touched">
              <small class="text-danger" *ngIf="getControl('confirmpassword')?.errors?.['required']">Confirm password required</small>
            </div>
              <div
                *ngIf="changePasswordform.errors?.['passwordMismatchError'] && getControl('confirmpassword')?.touched"
              >
                <small class="text-danger">password did not match</small>
              </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 mt-3">
              <div class="buttons-wrapper d-flex align-items-center gap-2">
                <button type="submit" id="btnsave" Class="btn-update" 
                [disabled]="changePasswordform.status === 'INVALID'" (click)="checkOldPassword()">Update</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>